.periodic__table__container {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1260px;
}

.filter__elements {
  background-color: white;
}

.card__btn__container {
  display: flex;
  justify-content: space-between;
}

.reset__btn {
  height: 50px;
  width: 200px;
  font-size: x-large;
  cursor: pointer;
}
